*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html{
    height: 100%;
    scroll-behavior: smooth;
    background-color: #2e313c;
}

.navbar{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 5;
    width: 100%;
}
.nav-item{
    font-size: 18px;
    margin: auto 6px;
    font-family: Helvetica;
}
li{
    cursor: pointer;
}
a i{
    font-size: 16px;
}
.dropdown-menu .dropdown-item{
    color: white;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #4011CE;
}
h2{
    color: white;
    margin-bottom: 20px;
}
.footer{
    background-color: #161a31;
    color: #ffffff;
    bottom: 0;
    max-height: 30vh;
}
.box {
    background: rgb(192,34,234);
    background: linear-gradient(273deg, rgba(192,34,234,1) 13%, rgba(102,78,229,1) 82%);
    color: white;
}
.separator{
    border-top: 1px solid #B3B1B2;
}
input{
    width: 20%;
    margin-bottom: 10px;
}
#box{
    background-color: #3448AB;
    width: 90%;
    padding: 20px;
    border-radius: 12px; 
}
td, th{
    vertical-align: middle;
}
th, tr, td{
    color: white;
    text-align: center;
}
tr td{
    max-width: 50px;
}
.btn{
    min-width: 60% !important;
    width: 60%;
}
.fadeInRight{
    animation: fadeInRight 3s ease;
}
.fadeInLeft{
    animation: fadeInLeft 3s ease;
}
.fadeInUp{
    animation: fadeInUp 2s ease;
}
.fadeInDown{
    animation: fadeInDown 2s ease;
}
.anim{
    animation: opac 4s ease;
    transition: transform .4s ;
}
.anim:hover{
    transform: scale(1.02);
}
.op{
    animation: open 3s ease;
}
@keyframes open{
    0%{
        opacity: 0;
        width: 40%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes opac{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

